#mainContainer {
	margin: 0 auto;
	width: 800px;
}

#mapsContainer {
	position: relative;
	width:800px;
	height:600px;
}

#mapsContainer::after {
	content: '';
	display: table;
	clear: both;
}

#windyMap, #sznMap {
	position: absolute;
	top: 0;
	left: 0;
	width:800px;
	height:600px;
}

#prepinac {
	margin: 10px auto;
	padding: 8px 24px;
	font-size: 20px;
	display: block;
}
